
@{ ViewBag.Title = "Login";
                Layout = null;
                var redirectUrl = ViewBag.RedirectUrl;
                var siteInfo = new UnitOfWork().SiteinfoManger.GetAll().FirstOrDefault(); }


<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@siteInfo.SiteName | Login</title>
    <link rel="icon" href="~/StaticFiles/img/ez2.png">
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <!--begin::Page Custom Styles(used by this page) -->
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/demo8/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/snippets/custom/login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/snippets/custom/login/login-v2.demo8.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <style>


        [data-notify="progressbar"] {
            margin-bottom: 0px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 5px;
        }
    </style>

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="">

    <div id="loading" class="m-page-loader m-page-loader--base">
        <div class="m-blockui">
            <span>
                Please wait...
            </span>
            <span>
                <div class="m-loader m-loader--brand"></div>
            </span>
        </div>
    </div>
    <!-- begin:: Page -->
    @*<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
            <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v4 kt-login--signin" id="kt_login">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(~/assets/media/bg/bg-2.jpg);">
                    <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__logo">
                                <a href="#">
                                    <img class="imge-logo-login" src="~/StaticFiles/img/Eaglez academ-02.png" />
                                </a>
                            </div>
                            <div class="kt-login__signin">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">
                                        Eaglez-academy 4edu
                                    </h3>
                                </div>

                                <form id="form_userLogin" class="kt-form">
                                    <label>Email or phone</label>
                                    <div class="input-group">

                                        <input name="loginName" class="form-control" type="text" placeholder="Email address or phone number" autocomplete="off">
                                    </div>
                                    <label>password</label>
                                    <div class="input-group">
                                        <input name="loginPassword" class="form-control" type="password" placeholder="Password">
                                    </div>

                                    <div class="kt-login__actions">
                                        <button id="test" class="btn btn-brand btn-pill kt-login__btn-primary">Log In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foter ">
                            <p class="footerp">
                                <span class="m-footer__copyright">
                                    © 2020 All Rights Reserved  ||  Development and Design By
                                    <a target="_blank" href="https://eaglez-group.com/" class="m-link eagle-link">
                                        Eaglez Group
                                    </a>
                                </span>
                            </p>
            </div>
        </div>*@


    <div class="forny-container">
        <div class="forny-inner">

            <div class="alert alert-danger d-none alert-form-error">
                Please, correct invalid values.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>


            <div class="forny-form">
                <div class="forny-logo">
                    <a href="#">
                        <img style="max-height:133px" src="~/@siteInfo.Logo">
                    </a>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link bg-transparent active" href="#login" data-toggle="tab" role="tab" aria-selected="true">
                            <span>@siteInfo.SiteName</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" role="tabpanel" id="login">
                        <form id="form_userLogin">

                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                                                <g transform="translate(0)">
                                                    <path d="M23.983,101.792a1.3,1.3,0,0,0-1.229-1.347h0l-21.525.032a1.169,1.169,0,0,0-.869.4,1.41,1.41,0,0,0-.359.954L.017,115.1a1.408,1.408,0,0,0,.361.953,1.169,1.169,0,0,0,.868.394h0l21.525-.032A1.3,1.3,0,0,0,24,115.062Zm-2.58,0L12,108.967,2.58,101.824Zm-5.427,8.525,5.577,4.745-19.124.029,5.611-4.774a.719.719,0,0,0,.109-.946.579.579,0,0,0-.862-.12L1.245,114.4,1.23,102.44l10.422,7.9a.57.57,0,0,0,.7,0l10.4-7.934.016,11.986-6.04-5.139a.579.579,0,0,0-.862.12A.719.719,0,0,0,15.977,110.321Z" transform="translate(0 -100.445)"></path>
                                                </g>
                                            </svg>
                                        </span>
                                    </div>

                                    <input class="form-control" name="loginName" type="text" placeholder="Email or Phone">

                                </div>
                            </div>


                            <div class="form-group password-field">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" viewBox="0 0 16 24">
                                                <g transform="translate(0)">
                                                    <g transform="translate(5.457 12.224)">
                                                        <path d="M207.734,276.673a2.543,2.543,0,0,0-1.749,4.389v2.3a1.749,1.749,0,1,0,3.5,0v-2.3a2.543,2.543,0,0,0-1.749-4.389Zm.9,3.5a1.212,1.212,0,0,0-.382.877v2.31a.518.518,0,1,1-1.035,0v-2.31a1.212,1.212,0,0,0-.382-.877,1.3,1.3,0,0,1-.412-.955,1.311,1.311,0,1,1,2.622,0A1.3,1.3,0,0,1,208.633,280.17Z" transform="translate(-205.191 -276.673)"></path>
                                                    </g>
                                                    <path d="M84.521,9.838H82.933V5.253a4.841,4.841,0,1,0-9.646,0V9.838H71.7a1.666,1.666,0,0,0-1.589,1.73v10.7A1.666,1.666,0,0,0,71.7,24H84.521a1.666,1.666,0,0,0,1.589-1.73v-10.7A1.666,1.666,0,0,0,84.521,9.838ZM74.346,5.253a3.778,3.778,0,1,1,7.528,0V9.838H74.346ZM85.051,22.27h0a.555.555,0,0,1-.53.577H71.7a.555.555,0,0,1-.53-.577v-10.7a.555.555,0,0,1,.53-.577H84.521a.555.555,0,0,1,.53.577Z" transform="translate(-70.11)"></path>
                                                </g>
                                            </svg>
                                        </span>
                                    </div>

                                    <input class="form-control" name="loginPassword" type="password" placeholder="Password">

                                    <div class="input-group-append cursor-pointer">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                                                <g transform="translate(0 0)">
                                                    <g transform="translate(0 0)">
                                                        <path d="M23.609,117.568a15.656,15.656,0,0,0-5.045-4.859,12.823,12.823,0,0,0-6.38-1.811c-.062,0-.309,0-.371,0a12.823,12.823,0,0,0-6.38,1.811,15.656,15.656,0,0,0-5.045,4.859,2.464,2.464,0,0,0,0,2.658,15.656,15.656,0,0,0,5.045,4.859,12.822,12.822,0,0,0,6.38,1.811c.062,0,.309,0,.371,0a12.823,12.823,0,0,0,6.38-1.811,15.656,15.656,0,0,0,5.045-4.859A2.464,2.464,0,0,0,23.609,117.568Zm-17.74,6.489a14.622,14.622,0,0,1-4.712-4.538,1.155,1.155,0,0,1,0-1.245,14.621,14.621,0,0,1,4.712-4.538,12.747,12.747,0,0,1,1.586-.79,8.964,8.964,0,0,0,0,11.9A12.748,12.748,0,0,1,5.869,124.057ZM12,125.75c-3.213,0-5.827-3.074-5.827-6.853s2.614-6.853,5.827-6.853,5.827,3.074,5.827,6.853S15.211,125.75,12,125.75Zm10.841-6.23a14.621,14.621,0,0,1-4.712,4.538,12.737,12.737,0,0,1-1.585.788,8.964,8.964,0,0,0,0-11.9,12.74,12.74,0,0,1,1.587.791,14.622,14.622,0,0,1,4.712,4.538A1.155,1.155,0,0,1,22.839,119.52Z" transform="translate(0.002 -110.897)"></path>
                                                    </g>
                                                    <g transform="translate(9.565 5.565)">
                                                        <path d="M205.24,202.8a2.435,2.435,0,1,0,2.435,2.435A2.438,2.438,0,0,0,205.24,202.8Zm0,3.917a1.482,1.482,0,1,1,1.482-1.482A1.483,1.483,0,0,1,205.24,206.721Z" transform="translate(-202.805 -202.804)"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button id="test" class="btn btn-primary btn-block">Login</button>
                                </div>

                            </div>

                            <hr />


                            <p class="footerp">
                                <span class="m-footer__copyright">
                                    © 2020 All Rights Reserved  ||  Development and Design By
                                    <a target="_blank" href="https://eaglez-group.com/" class="">
                                        Eaglez Group
                                    </a>
                                </span>
                            </p>
                            <div class="row">

                                <div class="col-12 mb-2 mb-md-0 col-md-4">

                                    <a href="https://www.facebook.com/Eaglez-Group-110136450628677/" class="btn btn-social btn-block btn-facebook">
                                        Facebook
                                    </a>

                                </div>
                                <div class="col-12 mb-2 mb-md-0 col-md-4">

                                    <a href="https://www.youtube.com/channel/UCFhhNva6xKM6QK1NCfwWFaw" class="btn btn-social btn-block btn-google">
                                        Youtube
                                    </a>

                                </div>
                                <div class="col-12 mb-2 mb-md-0 col-md-4">

                                    <a href="https://twitter.com/EaglezGroup" class="btn btn-social btn-block btn-twitter">
                                        Twitter
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
















    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#716aca", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/snippets/custom/login/jquery.min.js"></script>
    <script src="~/assets/snippets/custom/login/main.js"></script>
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/demo8/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->

    <script src="~/assets/app/custome/login/login-general.js"></script>
    <!--end::Page Scripts -->
    <!--begin::Global App Bundle(used by all pages) -->

    <script src="~/assets/app/custome/login/app.bundle.js"></script>


    <script src="~/assets/app/custome/login/bootstrap-notify.min.js"></script>

    <script>
        $(window).on('load', function () {
            $('body').removeClass('m-page--loading');
        });

        var $loading = $('#loading').hide();
        //Attach the event handler to any element
        $(document)
            .ajaxStart(function () {

                $('body').addClass('m-page--loading');
                $loading.show();


                //ajax request went so show the loading image
            })
            .ajaxStop(function () {
                $('body').removeClass('m-page--loading');

                //got response so hide the loading image
                $loading.hide();
            });

        $(function () {

            function errorMessage(error) {
                $.notifyClose();
                $.notify({
                    title: "Error:",
                    message: error,

                }, {
                    allow_dismiss: true,
                    showProgressbar: true,
                    type: "danger",
                    mouse_over: null,
                    animate: {
                        enter: 'animated flipInY',
                        exit: 'animated flipOutX',

                    }
                });

            }
            let loginName = $("input[name=loginName]"), loginPassword = $('input[name=loginPassword]');
            $("#form_userLogin").submit((s) => {
                s.preventDefault();

                if (loginName.val() == '' || loginPassword.val() == '') {

                    errorMessage("The email address or phone number and password that you 've entered doesn't match any account.Sign up for an account.");

                    return false
                }
                $.ajax({
                    type: "POST",
                    url: "/Account/Login",
                    contentType: "application/json",
                    data: JSON.stringify({
                        LoginName: loginName.val(),
                        Password: loginPassword.val()
                    }),
                    success() {
                       var redirect = '@redirectUrl';
                        if (redirect != null && redirect != "") {
                            redirect=redirect.replace("/Admission", "Admission");
                            window.open("/" + redirect, "_self");

                        } else {
                            window.open("/Admission/Home/Index", "_self");
                        }
                    }, error(error) {
                        errorMessage("The email address or phone number and password that you 've entered doesn't match any account.Sign up for an account.");


                    }
                })
            });
        })
    </script>
    <!--end::Global App Bundle -->
</body>
<!-- end::Body -->
</html>