body {
}


@media(max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .modal-lg {
        max-width: 100%;
    }

    .pyrimidis-title {
        margin-left: 0;
    }

    .overflowheightabout {
        max-height: 100%;
        overflow: auto;
    }

    .img-div {
        float: none;
        padding: 0;
        width: 200px;
        height: 200px;
        background: transparent;
        border: 2px solid #af7a2c;
        margin-right: 30px;
        margin: auto;
        display: flex;
        transition: all .4s ease-in-out;
    }

    .pyrimidis-title .contlocation {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .pyrimidis-title p {
        padding: 0px;
        margin: 0px;
        color: white;
        width: 100%;
    }

    .line-horzintal {
        height: 150px;
        width: 1.5px;
        background: #af7a2c;
        margin-left: 50%;
        top: 0;
        margin-top: 0px;
    }

    .timeline-panel {
        margin-top: 30px;
    }

    .width-btn, .gallery-section .width-btn-who {
        width: 30%;
        margin-left: 36%;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .realted-web h2 {
        margin-top: 30px;
    }

    .owl-carousel.home-slider .slider-item .slider-text h2 {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Cairo';
        font-weight: 300;
        color: white;
        width: 80%;
        line-height: 30px;
        position: relative;
        letter-spacing: 0;
        margin: auto;
    }

    .owl-carousel.home-slider .owl-nav .owl-next {
        right: 10px;
    }

    .owl-carousel.home-slider .owl-nav .owl-prev {
        left: 10px;
    }

    .owl-carousel.home-slider .slider-item video {
        display: inline-block;
        vertical-align: baseline;
        display: block;
        width: 303%;
    }

    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        background-color: #d9a555;
        border-color: #337ab7;
    }

    .nav > li > :hover {
        background: #e8c58e !important;
    }

    .gallery-section .owl-carousel .owl-nav .owl-prev {
        left: 15px;
    }

    .gallery-section .owl-carousel .owl-nav .owl-next {
        right: 15px;
    }

    .gallery-section .owl-carousel .owl-nav button.owl-next, .gallery-section .owl-carousel .owl-nav button.owl-prev {
        display: block;
    }

    .navbar {
        margin-bottom: 0;
    }

    .navbar-brand > img {
        width: max-content !IMPORTANT;
        margin-top: 0;
        height: 75px;
    }

    .navbar-nav > li > a {
        font-size: 15px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 25px 5px 25px;
    }

    .title-header {
        margin-top: 30px;
        text-align: center;
    }

    .header-bc {
        height: 150px;
    }

        .header-bc h3 {
            margin-bottom: 15px;
        }

    .vediossowlwl .owl-carousel .owl-nav .owl-prev {
        left: 10px;
    }

    .vediossowlwl .owl-carousel .owl-nav .owl-next {
        right: 10px;
    }

    .vediossowlwl .frmadevsmall {
        height: 350px;
    }

        .vediossowlwl .frmadevsmall .images {
            height: 100%;
        }

    .owl-carousel .owl-nav {
        top: 50%;
    }

    .owl-carousel.home-slider .slider-item .overlay {
        width: 100%;
        padding: 0 10px 0 10px !important;
    }

    .owl-carousel.home-slider .slider-item .slider-text h1 {
        text-align: center !important;
    }

    .owl-carousel.home-slider .slider-item .slider-text h1 {
        text-align: center !important;
    }

    .owl-carousel.home-slider .slider-item .slider-text .RerdrrdMore {
        right: 0;
        float: none !important;
        margin: auto;
        margin-top: 30px;
    }

    .hero-wrap {
        margin-top: 0;
    }

    .owl-carousel.home-slider .slider-item {
        height: calc(100vh - 150px);
    }

    .owl-carousel.home-slider {
        position: relative;
        height: calc(100vh - 150px);
        z-index: 0;
    }

    p.headp {
        width: 95%;
        margin: auto;
        margin-bottom: 30px;
        margin-right: 2.5% !IMPORTANT;
        margin-left: 2.5% !IMPORTANT;
    }

    .img-div {
        float: none !important;
        margin-left: 0;
        margin-right: 0;
        margin: auto !important;
    }

    .locations .owl-carousel .owl-nav .owl-prev {
        left: 10px;
    }
    .locations .owl-carousel .owl-nav .owl-next {
        right: 10px;
    }
    .newNewsSec .titile p {

        width: 100%;
    }
    .newNewsSec .othercol:nth-child(3) {
        width: 100%;
    }
    .newNewsSec .othercol:nth-child(2) {
        width: 100%;
    }
    .newNewsSec .othercol:first-child {
        width: 100%;
    }
    .newNewsSec .othercol {
        width: 100%;
    }
    .newSerivcess .titile p {

        width: 100%;

    }
    .newSerivcess .owl-carousel .owl-stage-outer {
        padding: 50px 0;
    }
    .newLatestNews .newlatscont .othercoll:first-child {
        width: 100%;
        height: 250px;
    }
    .newLatestNews .newlatscont .othercoll:nth-child(2) {
        width: 100%;
        height: 250px;
        float: none;
        padding: 0;
    }
    .newLatestNews .newlatscont .smallImages .imags {
        height: 250px;
        display: block;
    }
    .newLatestNews .newlatscont .othercoll:nth-child(3) {
        width: 100%;
        height: 250px;
        float: none;
        padding: 0;
    }
    .newLatestNews .newlatscont .othercoll:nth-child(4) {
        width: 100%;
        height: 250px;
        float: none;
        padding: 0;
    }
    .newLatestNews .newlatscont .othercoll {
        width: calc((100% - 0px)/1);
        padding-right: 0;
    }
    .TitleSec h2 {
        color: #fff;
        font-size: 35px;
    }
    .relatedwebsite{
        height:auto;
    }
    .relatedwebsite .relatedCOntent .relateditem {
        display: block;
        margin-bottom:30px;
    }
        .relatedwebsite .relatedCOntent .relateditem .leftside .imags {
            height: 600px;
            width: 100%;
        }
        .relatedwebsite .relatedCOntent .relateditem .rightside {
            right: 0;
        }
            .relatedwebsite .relatedCOntent .relateditem .rightside .wecont {
                padding: 15px;
            }
                .relatedwebsite .relatedCOntent .relateditem .rightside .wecont h2 {
                    text-align: center;
                }
                .relatedwebsite .relatedCOntent .relateditem .rightside .wecont p {
                    text-align: center;
                }
                .relatedwebsite .relatedCOntent .relateditem .rightside .wecont .btns {
                    float: none;
                    margin: auto;
                    display: block;
                }
                .relatedwebsite .relatedCOntent .relateditem .rightside .wecont .btns a {
                    margin: auto;
                }
        .relatedwebsite .relatedCOntent .relatedCOntentItemSec:nth-child(even) .relateditem {
            display: block;
            direction: ltr;
        }
        .relatedwebsite .relatedCOntent .relateditem .rightside {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
        }
        .relatedwebsite .relatedCOntent .relatedCOntentItemSec:nth-child(even) .relateditem .leftside {

            top: 0;
        }
        .relatedwebsite .relatedCOntent .relatedCOntentItemSec:nth-child(even) .relateditem .rightside {
            left: 0;
            right: auto;
            top: 0;
        }
            .relatedwebsite .relatedCOntent .relatedCOntentItemSec:nth-child(even) .relateditem .rightside .wecont{
                padding:15px;
            }
    .location-map {
        padding: 10px;
    }
    .opacity-map h2.headh2 {
        padding: 10px;
    }
    .vedioAboutSc .secvedcont .title h2 {
        font-size: 36px;
    }
    .servpagenew .servItemnew .images {
        height: 250px;
    }
    .threecitizenimgadetails .SmallImg img{
        height:auto;
    }
    .address {
        margin-bottom: 30px;
    }
    .gallery-section{
        height:550px;
    }
    .vedioAboutSc .secvedcont .title h2{
        width:100%;
    }



    .Vediomodal .modal-dialog {
        margin: auto;
        width: 100%;
        display: contents;
    }
    .who .wearecont .images {
        width: 100%;
        height: 455px;
    }


    .owl-carousel.home-slider .slider-item .overlay {
        display: none;
    }

    .video_background .video_foreground iframe {
        pointer-events: auto;
    }

    .owl-carousel.home-slider .owl-nav {
        position: relative;
        top: 20px;
        width: 100%;
        z-index: 9999999999;
        /* background: #f00; */
        display: block;
    }

    .hero-wrap {
        margin-bottom: 50px !important;
    }
}
