Flask
uuid
Flask-SQLAlchemy
Click
Flask-Cors
Flask-RESTful
itsdangerous
Jinja2
MarkupSafe
pytz
six
SQLAlchemy
Werkzeug
pyodbc
flask_httpauth
requests
datetime
lxml
bs4
requests
jaydebeapi
pycryptodome

