
@{
    ViewBag.Title = "Booking_ThanksPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section metatags{
    <meta name="keywords" id="metaKeyword" content="empcnews, news, Home, empc, " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}*@


<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>


