
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
}

@section PageTitle{
    <title>@SEO.ContactUsPageTitle</title>
}
@section metatags{
    <meta name="keywords" content="@SEO.ContactUsPageMetaKeywords " />
    <meta name="description" id="metaDesc" content="@SEO.ContactUsPageMetaDescription" />
    <link rel="canonical" id="canonicalUrl" href="@SEO.ContactUsPageCanonicalUrl" />
}


<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>
